:host {
    width: 90%;
}

#shop-container {
    display: flex;
}

#shop-container > div {
    flex-grow: 1;
}

#shop-container > div:first-child {
    width: 70%;
}

#item-container {
    width: 90%;
    height: 100%;
}

.item-row {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: 10px 0;
}

.item-search {
    display: flex;
    justify-content: center;
}

.item-description-row {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-buy-row {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    min-width: 20vh;
}

.item-buy-row h3 {
    margin: 0;
    margin-bottom: auto;
}

.item-buy-row p-button {
    margin-top: auto;
}

#pokemon-shop-cart {
    display: flex;
    padding-left: 1%;
    justify-content: center;
}