<div>
    <p-card>
        <ng-template pTemplate="header">
            <img alt="Pokemon" class="center-image" [src]="monster().sprites.front" style="width: 60%;" />
            <div class="type-container">
                @for (typeSpriteUrl of typeSprites(); track typeSpriteUrl) {
                    <img [src]="typeSpriteUrl" />
                }

                <audio controls [src]="monster().cryUrl"></audio>
            </div>
            <p-divider />
            <div class="type-container">
                <p>Height : {{ monster().details.height | toMeter}}, or {{ monster().details.height | toFoot }}</p>
                <p>Weight : {{ monster().details.weight / 10 }}kg</p>
                <p>Base experience : {{ monster().details.baseExperience }} exp</p>
            </div>
        </ng-template>

        <p-table [value]="stats()">
            <ng-template pTemplate="header">
                <tr>
                    <th>Stat name</th>
                    <th>Value</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-stat>
                <tr>
                    <td>
                        {{ stat.name | firstLetterUpper}}
                        <img [src]="stat.img" width="16px" />
                    </td>
                    <td>
                        {{ stat.value }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
       
    </p-card>
</div>

