<p-card [header]="monster().name | firstLetterUpper">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="monster().sprites.front" />
        <p-divider />
    </ng-template>

    <div class="type-container">
        @for (typeSpriteUrl of typeSprites(); track typeSpriteUrl) {
            <img [src]="typeSpriteUrl" />
        }
    </div>
    <p>
        {{ monster().description }}
    </p>
    <ng-template pTemplate="footer">
        <div class="flex gap-3 mt-1">
            <p-button label="Details" class="w-full" styleClass="w-full" icon="pi pi-info-circle" (onClick)="goToPokemonDetails(monster().name)" />
        </div>
    </ng-template>
</p-card>