$amber: #FFC107;
$light-background: #f4f4f4;
$dark-text: #333333;

.active-link {
    background: $amber;
    color: white !important;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.active-link:hover {
    background-color: darken($amber, 10%);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    text-decoration: none;
}