<app-home-search [(search)]="search" (searchPokemon)="searchPokemon()"></app-home-search>
<div class="pokemon-header">
        <p-button label="Previous pokemons" icon="pi pi-caret-left" [disabled]="offset() === 0" (onClick)="loadPreviousPokemons()"/>
        <p>List of current pokemons</p>
        <p-button label="Next pokemons" icon="pi pi-caret-right" [disabled]="offset() >= pokemonCount()" (onClick)="loadNextPokemons()" />
</div>
<div class="pokemon-container">
    @for (monster of monsters(); track monster.name) {
        @if(monster) {
            <app-pokemon-card [monster]="monster"></app-pokemon-card>
        }
    }
</div>
