.pokemon-search-container {
    width: 100%;
    display: flex;
    padding-bottom: 12px;
    align-items: center;
    justify-content: center;
}

.pokemon-search-container > div {
    display: flex;
    gap: 12px;
}
