<div id="pokemon-quizz-container">
    @if(monster()) {
        <div style="display: flex; justify-content: space-between; align-items: center; width: 20%;">
            <p>Who is this Pokemon ?</p>
            <p-button [pTooltip]="monster()!.name" tooltipPosition="bottom" label="Hint !" />
            <ng-template #tooltipContent>
                <div class="flex align-items-center">
                    <span> <b>PrimeNG</b> rocks! </span>
                </div>
            </ng-template>
        </div>
        <img [src]="monster()!.sprites.front" style="width: 30%;" />
        <div style="width: 60%;">
            <input type="text" pInputText [(ngModel)]="search" style="width: 60%; margin-right: 12px;" />
            <p-button label="Submit" (onClick)="onAnswer()" />
        </div>
        <p>Good answers : {{goodAnswers}}</p>
        @if (error()) {
            <p>Nop !</p>
        }
    }
   
</div>